header{
  background-color: darkblue;
  text-align: center;
  color: lightgray;

}



main{
  background-color: lightgray;
  padding: 1em;

}

body{
  background-image: url('/assignment/record.png');
  background-repeat: repeat;
  margin: 0
}